@import "./variable";
.progress-area {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: $color_white;
  // cursor: pointer;
}
.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, $pink 0%, $violet 100%);
  cursor: pointer;
}
.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
// .progress-area:hover
.progress-area:hover::before {
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.song-timer span {
  font-size: 13px;
  color: $color_white;
}
