// $color_blue: rgba(7, 58, 102, 0.5);
// $color_red: rgba(255, 48, 48, 0.5);
$color_white: #f9f9f9;
$color_black: #4e4e4e;
$background: #4e4e4e;
$pink: #ff74a4;
$violet: #9f6ea3;
$gradient: linear-gradient(180deg, #ff74a4 0%, #9f6ea3 100%);
